.scroll {
  height: 472px;
  overflow: auto;
}
.scroll-table-credentials{
    max-height: 20px;
    overflow: auto;
    background-color: rgb(7, 14, 75);
}
.tr-width{
    width: 100%;

}
.myTableRow:hover {
  background-color: lightblue;
  cursor: pointer;
}
